In [ ]:
import pandas as pd

In [4]:
df = pd.read_csv('books.csv')

In [5]:
print(df.head())

                      Title            Author              Genre  Height  \
0  Fundamentals of Wavelets  Goswami, Jaideva  signal_processing     228
1                Data Smart     Foreman, John       data_science     235
2  God Created the Integers  Hawking, Stephen        mathematics     197
3         Superfreakonomics   Dubner, Stephen          economics     179
4               Orientalism      Said, Edward            history     197

       Publisher
0          Wiley
1          Wiley
2        Penguin
3  HarperCollins
4        Penguin

In [6]:
df = df.drop('Publisher', axis=1).drop('Height', axis=1)

In [7]:
df = df.drop_duplicates()

In [8]:
df = df.dropna(axis=0)

In [9]:
print(df.head())

                      Title            Author              Genre
0  Fundamentals of Wavelets  Goswami, Jaideva  signal_processing
1                Data Smart     Foreman, John       data_science
2  God Created the Integers  Hawking, Stephen        mathematics
3         Superfreakonomics   Dubner, Stephen          economics
4               Orientalism      Said, Edward            history

In [10]:
def clean_text(author):
    result = str(author).lower()
    return(result.replace(' ',''))

In [11]:
df['Author'] = df['Author'].apply(clean_text)

In [12]:
df

                            Title             Author              Genre
0        Fundamentals of Wavelets    goswami,jaideva  signal_processing
1                      Data Smart       foreman,john       data_science
2        God Created the Integers    hawking,stephen        mathematics
3               Superfreakonomics     dubner,stephen          economics
4                     Orientalism        said,edward            history
..                            ...                ...                ...
206      Structure and Randomness        tao,terence        mathematics
207  Image Processing with MATLAB       eddins,steve  signal_processing
208                   Animal Farm      orwell,george            fiction
209                    Idiot, The  dostoevsky,fyodor            fiction
210            Christmas Carol, A    dickens,charles            fiction

[186 rows x 3 columns]

In [13]:
df['Title'] = df['Title'].str.lower()

In [14]:
df

                            Title             Author              Genre
0        fundamentals of wavelets    goswami,jaideva  signal_processing
1                      data smart       foreman,john       data_science
2        god created the integers    hawking,stephen        mathematics
3               superfreakonomics     dubner,stephen          economics
4                     orientalism        said,edward            history
..                            ...                ...                ...
206      structure and randomness        tao,terence        mathematics
207  image processing with matlab       eddins,steve  signal_processing
208                   animal farm      orwell,george            fiction
209                    idiot, the  dostoevsky,fyodor            fiction
210            christmas carol, a    dickens,charles            fiction

[186 rows x 3 columns]

In [15]:
df2['data'] = df2[df2.columns[1:]].apply(
    lambda x: ' '.join(x.dropna().astype(str)),
    axis=1
)

<class 'NameError'>: name 'df2' is not defined

In [16]:
df['data'] = df2[df2.columns[1:]].apply(
    lambda x: ' '.join(x.dropna().astype(str)),
    axis=1
)

<class 'NameError'>: name 'df2' is not defined

In [17]:
df2 = df

In [18]:
df2['data'] = df2[df2.columns[1:]].apply(
    lambda x: ' '.join(x.dropna().astype(str)),
    axis=1
)

In [19]:
df2

,Title,Author,Genre,data
0,fundamentals of wavelets,"goswami,jaideva",signal_processing,"goswami,jaideva signal_processing"
1,data smart,"foreman,john",data_science,"foreman,john data_science"
2,god created the integers,"hawking,stephen",mathematics,"hawking,stephen mathematics"
3,superfreakonomics,"dubner,stephen",economics,"dubner,stephen economics"
4,orientalism,"said,edward",history,"said,edward history"
...,...,...,...,...
206,structure and randomness,"tao,terence",mathematics,"tao,terence mathematics"
207,image processing with matlab,"eddins,steve",signal_processing,"eddins,steve signal_processing"
208,animal farm,"orwell,george",fiction,"orwell,george fiction"
209,"idiot, the","dostoevsky,fyodor",fiction,"dostoevsky,fyodor fiction"
210,"christmas carol, a","dickens,charles",fiction,"dickens,charles fiction"

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

In [21]:
vectorizer = CountVectorizer()
vectorized = vectorizer.fit_transform(df2['data'])

In [22]:
from sklearn.metrics.pairwise import cosine_similarity

similarities = cosine_similarity(vectorized)

In [23]:
print(similarities)

[[1.         0.         0.         ... 0.         0.         0.        ]
 [0.         1.         0.         ... 0.         0.         0.        ]
 [0.         0.         1.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 1.         0.33333333 0.33333333]
 [0.         0.         0.         ... 0.33333333 1.         0.33333333]
 [0.         0.         0.         ... 0.33333333 0.33333333 1.        ]]

In [25]:
df = pd.DataFrame(similarities, columns=df['Title'], index=df['Title']).reset_index()

df.head()

Title,Title,fundamentals of wavelets,data smart,god created the integers,superfreakonomics,orientalism,"nature of statistical learning theory, the",integration of the indian states,"drunkard's walk, the",image processing & mathematical morphology,...,eyeless in gaza,tales of beedle the bard,girl with the dragon tattoo,girl who kicked the hornet's nest,girl who played with fire,structure and randomness,image processing with matlab,animal farm,"idiot, the","christmas carol, a"
0,fundamentals of wavelets,1.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.333333,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.333333,0.0,0.0,0.0
1,data smart,0.0,1.0,0.000000,0.000000,0.0,0.333333,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
2,god created the integers,0.0,0.0,1.000000,0.333333,0.0,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.333333,0.000000,0.0,0.0,0.0
3,superfreakonomics,0.0,0.0,0.333333,1.000000,0.0,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
4,orientalism,0.0,0.0,0.000000,0.000000,1.0,0.000000,0.333333,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0

In [27]:
input_book = 'fundamentals of wavelets'
recommendations = pd.DataFrame(df.nlargest(11,input_book)['Title'])
recommendations = recommendations[recommendations['Title']!=input_book]
print(recommendations)

                                          Title
8    image processing & mathematical morphology
182                image processing with matlab
1                                    data smart
2                      god created the integers
3                             superfreakonomics
4                                   orientalism
5    nature of statistical learning theory, the
6              integration of the indian states
7                          drunkard's walk, the
9             how to think like sherlock holmes

In [28]:
input_book = 'animal farm'
recommendations = pd.DataFrame(df.nlargest(11,input_book)['Title'])
recommendations = recommendations[recommendations['Title']!=input_book]
print(recommendations)

                              Title
98   down and out in paris & london
18             new machiavelli, the
51                  in a free state
114                to sir with love
150                 batatyachi chal
151                      hafasavnuk
152                       urlasurla
11              slaughterhouse five
15                       trial, the
27                    outsider, the

In [29]:
input_book = 'orientalism'
recommendations = pd.DataFrame(df.nlargest(11,input_book)['Title'])
recommendations = recommendations[recommendations['Title']!=input_book]
print(recommendations)

                                Title
6    integration of the indian states
14                  age of wrath, the
70            all the president's men
72                             scoop!
74                   last mughal, the
81   india from midnight to milennium
83                       o jerusalem!
85                freedom at midnight
100             beyond the three seas
106   great war for civilization, the

In [30]:
input_book = 'freedom at midnight'
recommendations = pd.DataFrame(df.nlargest(11,input_book)['Title'])
recommendations = recommendations[recommendations['Title']!=input_book]
print(recommendations)

                                Title
83                       o jerusalem!
84                   city of joy, the
4                         orientalism
6    integration of the indian states
14                  age of wrath, the
70            all the president's men
72                             scoop!
74                   last mughal, the
81   india from midnight to milennium
100             beyond the three seas

In [31]:
input_book = 'beyond the three seas'
recommendations = pd.DataFrame(df.nlargest(11,input_book)['Title'])
recommendations = recommendations[recommendations['Title']!=input_book]
print(recommendations)

                                Title
74                   last mughal, the
171                    city of djinns
4                         orientalism
6    integration of the indian states
14                  age of wrath, the
70            all the president's men
72                             scoop!
81   india from midnight to milennium
83                       o jerusalem!
85                freedom at midnight

In [32]:
input_book = 'superfreakonomics'
recommendations = pd.DataFrame(df.nlargest(11,input_book)['Title'])
recommendations = recommendations[recommendations['Title']!=input_book]
print(recommendations)

                                     Title
43                            freakonomics
57                    econometric analysis
75   social choice & welfare, vol 39 no. 1
2                 god created the integers
30                  wealth of nations, the
56             textbook of economic theory
91               theory of everything, the
92              new markets & other essays
96               age of discontuinity, the
110                  rationality & freedom

In [33]:
input_book = 'rationality & freedom'
recommendations = pd.DataFrame(df.nlargest(11,input_book)['Title'])
recommendations = recommendations[recommendations['Title']!=input_book]
print(recommendations)

                                    Title
66              argumentative indian, the
68                   idea of justice, the
99                    identity & violence
57                   econometric analysis
75  social choice & welfare, vol 39 no. 1
3                       superfreakonomics
30                 wealth of nations, the
43                           freakonomics
56            textbook of economic theory
92             new markets & other essays

In [44]:
df2[1:50]

,Title,Author,Genre,data
1,data smart,"foreman,john",data_science,"foreman,john data_science"
2,god created the integers,"hawking,stephen",mathematics,"hawking,stephen mathematics"
3,superfreakonomics,"dubner,stephen",economics,"dubner,stephen economics"
4,orientalism,"said,edward",history,"said,edward history"
5,"nature of statistical learning theory, the","vapnik,vladimir",data_science,"vapnik,vladimir data_science"
6,integration of the indian states,"menon,vp",history,"menon,vp history"
7,"drunkard's walk, the","mlodinow,leonard",science,"mlodinow,leonard science"
8,image processing & mathematical morphology,"shih,frank",signal_processing,"shih,frank signal_processing"
9,how to think like sherlock holmes,"konnikova,maria",psychology,"konnikova,maria psychology"
10,data scientists at work,sebastiangutierrez,data_science,sebastiangutierrez data_science
11,slaughterhouse five,"vonnegut,kurt",fiction,"vonnegut,kurt fiction"
12,birth of a theorem,"villani,cedric",mathematics,"villani,cedric mathematics"
13,structure & interpretation of computer programs,"sussman,gerald",computer_science,"sussman,gerald computer_science"
14,"age of wrath, the","eraly,abraham",history,"eraly,abraham history"
15,"trial, the","kafka,frank",fiction,"kafka,frank fiction"
16,statistical decision theory',"pratt,john",data_science,"pratt,john data_science"
17,data mining handbook,"nisbet,robert",data_science,"nisbet,robert data_science"
18,"new machiavelli, the","wells,h.g.",fiction,"wells,h.g. fiction"
19,physics & philosophy,"heisenberg,werner",science,"heisenberg,werner science"
20,making software,"oram,andy",computer_science,"oram,andy computer_science"
21,"analysis, vol i","tao,terence",mathematics,"tao,terence mathematics"
22,machine learning for hackers,"conway,drew",data_science,"conway,drew data_science"
23,"signal and the noise, the","silver,nate",data_science,"silver,nate data_science"
24,python for data analysis,"mckinney,wes",data_science,"mckinney,wes data_science"
25,introduction to algorithms,"cormen,thomas",computer_science,"cormen,thomas computer_science"
26,"beautiful and the damned, the","deb,siddhartha",nonfiction,"deb,siddhartha nonfiction"
27,"outsider, the","camus,albert",fiction,"camus,albert fiction"
28,"complete sherlock holmes, the - vol i","doyle,arthurconan",fiction,"doyle,arthurconan fiction"
29,"complete sherlock holmes, the - vol ii","doyle,arthurconan",fiction,"doyle,arthurconan fiction"
30,"wealth of nations, the","smith,adam",economics,"smith,adam economics"
31,"pillars of the earth, the","follett,ken",fiction,"follett,ken fiction"
32,mein kampf,"hitler,adolf",nonfiction,"hitler,adolf nonfiction"
33,"tao of physics, the","capra,fritjof",science,"capra,fritjof science"
34,surely you're joking mr feynman,"feynman,richard",science,"feynman,richard science"
35,"farewell to arms, a","hemingway,ernest",fiction,"hemingway,ernest fiction"
36,"veteran, the","forsyth,frederick",fiction,"forsyth,frederick fiction"
37,false impressions,"archer,jeffery",fiction,"archer,jeffery fiction"
38,"last lecture, the","pausch,randy",nonfiction,"pausch,randy nonfiction"
39,return of the primitive,"rand,ayn",philosophy,"rand,ayn philosophy"
40,jurassic park,"crichton,michael",fiction,"crichton,michael fiction"
41,"russian journal, a","steinbeck,john",nonfiction,"steinbeck,john nonfiction"
42,tales of mystery and imagination,"poe,edgarallen",fiction,"poe,edgarallen fiction"
43,freakonomics,"dubner,stephen",economics,"dubner,stephen economics"
44,"hidden connections, the","capra,fritjof",science,"capra,fritjof science"
45,"story of philosophy, the","durant,will",philosophy,"durant,will philosophy"
46,asami asami,"deshpande,pl",fiction,"deshpande,pl fiction"
47,journal of a novel,"steinbeck,john",fiction,"steinbeck,john fiction"
48,once there was a war,"steinbeck,john",nonfiction,"steinbeck,john nonfiction"
49,"moon is down, the","steinbeck,john",fiction,"steinbeck,john fiction"

In [45]:
input_book = 'veteran, the'
recommendations = pd.DataFrame(df.nlargest(11,input_book)['Title'])
recommendations = recommendations[recommendations['Title']!=input_book]
print(recommendations)

                         Title
103  phantom of manhattan, the
119              deceiver, the
18        new machiavelli, the
51             in a free state
114           to sir with love
150            batatyachi chal
151                 hafasavnuk
152                  urlasurla
11         slaughterhouse five
15                  trial, the

In [47]:
input_book = 'jurassic park'
recommendations = pd.DataFrame(df.nlargest(11,input_book)['Title'])
recommendations = recommendations[recommendations['Title']!=input_book]
print(recommendations)

                                     Title
18                    new machiavelli, the
51                         in a free state
114                       to sir with love
150                        batatyachi chal
151                             hafasavnuk
152                              urlasurla
11                     slaughterhouse five
15                              trial, the
27                           outsider, the
28   complete sherlock holmes, the - vol i